body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333333;
}

.banner {
    background-color: #8B0000; /* Dark Red */
    color: white;
    text-align: center;
    padding: 10px 0;
}

.banner img {
    max-width: 10%;
    height: auto;
}

.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: white;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #575757;
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.content {
    padding: 20px;
    background: url('https://patch.com/img/cdn20/users/66170/20190820/031006/styles/raw/public/processed_images/North-San-Diego-Young-Marines-NCTD-2019.jpg') no-repeat center center;
    background-size: cover;
}

.section {
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent background for readability */
    padding: 20px;
    border-radius: 10px;
}

.section h2 {
    color: #8B0000; /* Dark Red */
}